@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

body {
  font-family: "Basic", sans-serif;
  background-color: #5c6265;
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../asset/img/white-clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary {
  background-color: #143e55;
}

.mt-6 {
  margin-top: 5rem;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.m-negative {
  margin-top: -10px;
}
